/**
    RUMP: A Reproducible Untargeted Metabolomics Data Processing Pipeline
    Description : This file in the configuration of RUMP, including resource allocation and parameters information
    Author      : Xinsong Du
    License     : MIT License
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    MIT License for more details.
    
    You should have received a copy of the MIT License
    along with this script.  If not, see <https://opensource.org/licenses/MIT>.
    
    For any bugs or problems found, please contact us at
    - xinsongdu@ufl.edu, manfiol@ufl.edu, djlemas@ufl.edu; 
    - https://github.com/lemaslab/RUMP
*/

params
{
    input_dir = "functional_test/sample_data/raw_data/"
    design_path = "functional_test/sample_data/design.csv"
    ref = "functional_test/sample_data/raw_data/QE2_sbs_11_48_10Nddms2.mzML"
    msdial_config = "functional_test/sample_data/msdial_params.txt"
    msflo_config = "functional_test/sample_data/msflo_params.ini"
    
    ms1_library = "functional_test/sample_data/ms1_lib.txt"
    ms2_library = "functional_test/sample_data/MSMS-Pos-MassBank.msp"

    cutoff = 0.2

    max_cpus = 5
    max_memory = 4.GB
    max_time = 12.h
}

process.container = 'xinsongdu/metabolomics_software_containerization:v2'

process 
{

    withName: peak_detection_msdial
    {
        time =  '1800m'
        cpus = 1
        memory = '3 GB'  
    }
    withName: msflo_download
    {
        time =  '15m'
        cpus = 1
        memory = '1 GB'  
    }
    withName: msflo_processing
    {
        time =  '1800m'
        cpus = 1
        memory = '3 GB'  
    }
}